@model List<ProductViewModel>
@{ ViewData["Title"] = "Home Page"; }

<div class="row">
    @foreach (var product in Model)
    {
<div class="col-3 card shadow">
    
    <div class="card-body">
        <a class="btn" 
           asp-area=""
           asp-controller="Comparing"
           asp-action="Add"
           asp-route-Id="@product.Id"
           role="button"><img class="figure-img" src="http://s1.iconbird.com/ico/2013/6/289/w512h5121371656132tasks.png" height="40" width="40" /></a>
        <a class="btn"
           asp-area=""
           asp-controller="Favorites"
           asp-action="Add"
           asp-route-Id="@product.Id"
           role="button"><img class="figure-img text-lg-right" src="http://s1.iconbird.com/ico/2013/9/450/w256h2561380453904heart256x25632.png" height="30" width="30" /></a>
        <br />
        <br />
        <img class="card-img-bottom" src="@product.ImagePath" />

    </div>
    <div class="container">
        
        <div class="row align-items-end">

            <div class="col">

                <a style="color:blueviolet" 
                   asp-area=""
                   asp-controller="Product"
                   asp-action="Index"
                   asp-route-Id="@product.Id">
                   <h5>@product.Name</h5></a>
                <h5>@product.Cost руб.</h5><br />
                <a class="btn btn-primary" 
                   asp-area=""
                   asp-controller="Cart"
                   asp-action="Add"
                   asp-route-productId="@product.Id"
                   role="button">Добавить в корзину</a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>}
</div>


